html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color:#EFF6E0;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.website-title {
  color:#EFF6E0;
  display:flex;
}

.logo {
  width:100px;
  height:100px;
  margin:20px;
}


.header {
  display: flex;
  background-color: #304C89;
  
  flex-direction:row;
}

.menu-item {
  display:flex;
  justify-self:flex-end;
}

.homepage-image {
  width:100%;
  height: 75%;
  margin
}


.event-image{
  width: 300px;
  height:auto;
}


h1 {
  text-align:center;
  color: #2D1801;
  
}

h2 {
  text-align: center;
  color: #721817;
}

h3 {
  text-align:center;
}

p{
  font-size:18px;
  line-height:1.6em;
}

.footer-text {
  color:#EFF6E0;
  display:flex;
  flex-direction:column;
}

.footer-text a {
  color:lightslategray;
}

/*index.html styles*/

main {
  display: flex;
  flex-direction: columnl;
  justify-content:center;
  padding:40px;
}

.upcoming-events{
  background:#9EB7E5;
  display:flex;
  flex-direction:column;
  padding: 20px;
  margin:10px;
  justify-content: center;
  align-items:center;

}


.karen {
  width: 50%;
  height:auto;
}




/*donate.html styles*/
.donate-info {
  display:flex;
  justify-content:center;
  padding:20px;
  margin:10px;
  background:#9EB7E5
}

.thank-you {
  padding:20px;
  margin:10px;
  background:#9EB7E5;
}


/* past-events.html styles */

.king {
  width:40%;
  display: flex;
  justify-self: center;
}



.alan {
  width:40%;
  display:flex;
  justify-self:center;
}

.luce {
  width:40%;
  display:flex;
  justify-self: center;
}

.ScottAnderson {
  background:#9EB7E5;
  margin: 20px;
  padding:10px;
}

.Scottinfo {
  padding: 20px;
}

.Alanmcpherson {
   background:#9EB7E5;
  margin: 20px;
  padding:10px;
}

.Alaninfo {
  padding:20px;
}

.EdwardLuce{
  background:#9EB7E5;
  margin: 20px;
  padding:10px;
}

.Luceinfo {
  padding:20px;
}


/*forum.html styles*/
.flags-in-a-row {
  display:flex;
  flex-direction:row;
  height:auto;

}

.flag-item {
  width:30%;
  padding: 10px;
  display:flex;
}

.forum-intro {
  padding: 30px;
  background:#9EB7E5;
  margin:10px;
}

.forum-info {
  padding: 2px 20px;
}

.day-one {
  border:#721817 5px solid;
  padding: 20px;
  margin:10px;
  box-shadow:inset 0 0 10px #000000;
}

.day-two {
  border:#721817 5px solid;
  padding: 20px;
  margin:10px;
  box-shadow:inset 0 0 10px #000000;
}

.forum-note {
  font-style: italic;
  background:#9EB7E5;
  padding: 20px;
  margin:10px;
}

.more-content {
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin:10px;
}




/* contact.html styles */
.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 500px;
  margin: 60px auto;
  padding: 25px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  margin: 10px 0 6px;
  font-size: 14px;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
}

.contact-form button {
  background-color:#304C89;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 15px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #721817;
  border: #EFF6E0 2px solid;
}

.contact-directly {
  display:flex;
  justify-content: center;
}






/* join.html styles */
.join-form 
{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 500px;
  margin: 60px auto;
  padding: 25px 30px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.join-form label {
  display: block;
  margin: 10px 0 6px;
  font-size: 14px;
  color: #555;
}

.join-form input,
.join-form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  box-sizing: border-box;
}

.join-form button {
  background-color:#555 ;
  color: white;

  border: none;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  margin-top: 15px;
  cursor: pointer;
}

.join-form button:hover {
  background-color: #721817;
  border: #EFF6E0 2px solid;
}





@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1); 
    }
    100% {
        transform: scale(1);
    }
}


footer {
  display: flex;
  height: 200px;
  justify-content: flex-end;
  flex-direction:column;
  background-color:#304C89;
}

.footer-text {
  font-family: "figtree", sans-serif;
  font-size: 1.25rem;
  margin:20px;
}


a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #721817; /* edit this to change the icon color */
  font: normal 28px/60px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 20px;
  content: "\78"; /* X/close icon */
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
  font-family:"figtree"sans-serif;
}

.nav-collapse li {
  display: block;
  font-size:18px;
}

.nav-collapse a:hover{
  color: #EFF6E0;
text-decoration: underline;
  
}

.nav-collapse a:focus {
  outline: 2px solid #413c58;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}



input[type="text"]:hover,
input[type="email"]:hover {
    border: 2px solid #413C58;      
    background-color: #f7f7f7;      
    transition: all 0.25s ease;     
}


@media screen and (min-width: 700px) {
}


header {
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;
}


.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: black;
  width: 100%;
  display: block;
}



.nav-collapse ul ul a {
  padding-left: 2em;
}

@media screen and (min-width: 768px) {
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

h1 {
  font-size:50px;
}

h2 {
  font-size:40px;
}

h3{
  font-size:35px;
}

h4 {
  font-size:20px;
}
 p{
    font-size:25px;
  }

  li {
    font-size:25px;
  }

  .menu-item a {
    font-size:25px;
    margin:30px;
    color:#EFF6E0;
  }

  .nav-collapse a:hover{
  color: #721817;
  text-decoration: underline;
  
}

/*index.html desktop*/

.content {
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:40px;
  width:60%;
  justify-content:center;
  align-self: center;
  margin-top:0px;

}

.krasno {
  width:80%;
  height:30%;
  padding:20px;


  
}


}


